@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.gradient-text {
  background: linear-gradient(to right, #fff 0%, #888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Default styles for main content */
.main-content {
  @apply ml-[240px] p-8;
}

/* Reset all spacing for landing page */
.landing-page-content {
  @apply fixed inset-0 !m-0 !p-0 overflow-y-auto;
}

.landing-page-content ~ .main-content {
  @apply !m-0 !p-0;
}

@keyframes progressBar {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
}
